@font-face {
  font-family: "SFMono";
  src: url("/fonts/sf-mono-regular.woff2") format("woff2"),
       url("/fonts/sf-mono-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.text-body {
  color: lime;
  font-family: "SFMono", monospace;
  background-color: black;
}